/*  tape.css
	
	Provides the CSS for tape.html
	This is unchanged (except for a few improvements) from Project #1
	
	TAPE Website
	Noah Shinabarger, Timothy Smith, Emily Wolf */

@charset "utf-8";

/* HTML OVERWRITTEN STYLES */
html{
	margin: 0;
	height:100%;
	
	font-family: Nirmala UI, Arial, Helvetica, sans-serif;
  user-select: none;	
	overflow-x: hidden;
	overflow-y: hidden;
}

body{
	margin: 0;	
	padding: 0;	
	height: 100%;
	font-family: Arial, Helvetica;
    font-size: 12px;
}

td, th{
	text-align: center;
}

head{
	margin: 0;
	padding: 0;
	height: 0%;
}

div{
	/* Sets the sizing to include borders */
	box-sizing: border-box;	
}

a{
	text-decoration: none;
}

a:hover{
    background: none;
}

li{
	list-style: none;
    height: 25px;
    text-align: left;
    line-height: 25px;
    background: none;
    border-radius: 4pt;
}

header {
	background-color: #f1f1f1;
}

h1, h2{
	text-align: center;
}

h3{
	padding: 0px;
	margin: 0px;
}

/* FORM STYLES */
input{
	width: 90%;
}

#errorField{	
	width: 100%;
	height: 100%;
	
	color: red;
	font-size: 14px;
	padding: 0px 25px;
	
	overflow-y: auto;
}


/* DROPDOWN STYLES */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CFD8DC;
    
	width: auto;
	
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 51;
}
.show {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	background-color: #CFD8DC;
	color: white;
	box-shadow: 0 6px 12px rgba(0,0,0, .175);
	width: auto;
	
	margin-left: 6px;
	
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .15);
	
	padding: 5px;	
}


/* HEADER STYLES */
.headerContent{
	height: 100%;
	width: 100%;
	
	background: #2C3E50;  
	color: black;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

#headerButtonWrapper{
	width: auto;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-self: center;
	
	margin-left: auto;
	margin-right: 10px;
}

.button{
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	touch-action: manipulation;
	border: 1pt solid #0C2032;
	background-color: #617487;
	color: white;
	font-size: 14px;	
	padding: 5px 10px;
	
	border-radius: 4px;
	margin: 5px;
}
.button:hover{
	background-color: #42586E;
	border-color: #1B3147;
}

.button-disabled{
	background-color: black;
}

.logo{
	width: auto;
	height: 100%;
}	

/* used as the little bar headings on the four sections */
.sectionHeader{
	height: 20px;
	width: 100%;
	
	font-size: 12px;
	line-height: 20px;	
	
	border-top-left-radius: 6pt;
	border-top-right-radius: 6pt;
	
	background: #2C3E50;
	color: white;
	text-align: center;
	vertical-align: center;	
	font-weight: bold;
}

.sectionFooter{
	height: 20px;
	width: 100%;
	
	font-size: 10px;
	line-height: 20px;
	
	border-bottom-left-radius: 6pt;
	border-bottom-right-radius: 6pt;
	
	background: #2C3E50;
	color: white;
	text-align: center;
	vertical-align: center;	
	font-weight: bold;
	
	position: absolute;
	bottom: 0px;
}

/* SEMESTER STYLES */
.semester{
	border: 1px solid #10203A;
	background: repeating-linear-gradient(0deg, #b4c8d5, #E8EDE9 50%, #b4c8d5 100%);
	border-radius: 5px;

	height: calc(100% - 12px);
	
	margin-top: 6px;
	margin-bottom: 6px;
	
	position: relative;
}
.summer{		
	/* make the summer semester a little thinner since it isn't used as often */
	width: 29%;
}
.fall, .spring{
	width: 35%;
}

.semesterHeading{
	background-color: #CFD8DC;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid black;
		
	text-align:center;
	color: black;
	font-weight: bold;
	line-height: 30px;
	
	
	font-size: 18px;
	font-size: calc(12px + 0.2vw);
	
	height: 30px;
	width: 100%;	
}
.semesterFooter{
	background-color: #CFD8DC;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: 1px solid black;
		
	text-align:center;
	color: black;
	font-weight: bold;
	
	line-height: 30px;
	word-wrap:break-word;
	font-size: 18px;
	font-size: calc(10px + 0.2vw);
	
	height: 30px;
	width: 100%;	
}
.semesterContent{
	width:100%;
	/* 100% - the combined height of the footer and heading */
	height: calc(100% - 60px);
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.year{
	position: relative;

	margin: 0px 6px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	
	text-align: center;
	
/*	border-right: 1pt dashed grey;
	border-left: 1pt dashed grey;*/
	
	
	
	height: 100%;
}

/* COURSE STYLES */
.course{	
	/* this is the minimum height */
	height: 65px;
	width: 98%;
	
	border: 1.5pt solid grey;
	border-radius: 4pt;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position:relative;
	
	z-index:1;
	
	flex-grow: 0;
}

.courseTitle{
	height: auto;
	width: 100%;
	margin-top: 3px;
	
	font-size: 11px;
	font-size: calc(11px + 0.1vw);
	
	
	text-align: center;
	word-wrap: normal;
	font-weight:bold;
	
	line-height: 18px;
	line-height: 1.5vh;
	
	position: absolute;
	left: 0;
}


.courseCredits{
	height: auto;
	width: 100%;
	
	font-size: 100px;
	font-size: calc(28px + 0.4vw);
	line-height: 95px;
	line-height: 2.5vw;
	
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: -1px 0 #A7A7A7, 0 1px #A7A7A7, 1px 0 #A7A7A7, 0 -1px #A7A7A7;
	
	position: absolute;
	top: calc(50% - 1.5vw);
	left: 0;
}
.courseCode{
	height: auto;
	width: 100%;
	
	background: #E1E1E1;
	border-radius: 4pt;
	font-style: italic;
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
	
	font-size: 10px;
	font-size: calc(10px + 0.1vw);

	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* BACKGROUND DEPARTMENT CLASSES */
.art, .design, .theatre, .ad{
	background-color: #FFCDD2;
}
.bible, .theo, .be, .bi{
	background-color: #F8BBD0;
}
.business, .ba{
	background-color: #E1BEE7;
}
.comm{
	background-color: #D1C4E9;
}
.education{
	background-color: #C5CAE9;
}
.engineering, .compsci{
	background-color: #BBDEFB;
}
.english, .lit, .lang{
	background-color: #B3E5FC;
}
.history, .gov{
	background-color: #B2EBF2;
}
.interdisciplinary{
	background-color: #B2DFDB;
}
.kinesiology, .allied-health{
	background-color: #C8E6C9;	
}
.music, .worship{
	background-color: #DCEDC8;
}
.nursing{
	background-color: #F0F4C3;
}
.pharm{
	background-color: #FFF9C4;
}
.psych{
	background-color: #FFECB3;
}
.science, .math{
	background-color: #FFE0B2;
}
.socialwork{
	background-color: #FFCCBC;
}
.special{
	background-color: #D7CCC8;
}
.misc{
	background-color: #F5F5F5;
}

/* LEFT PANEL STYLES */
#finderWrapper{
	width:100%;
	/* change this to adjust the size of the validator pane (LL) */
	/* subtract the height of the sectionHeaders */
	height: calc(27%);
}

#finder{
	position: relative;
	
	width: 100%;
	height: calc(100% - 10px);
	
	background: #C3D7DF;
}

#planHeading{
	background: NONE;
	border: NONE;
	font-size: calc(12px + 0.6vw);
	
	line-height: 90%;
	width: 50%;
	
	margin-bottom: 5px;
	
	border-top-left-radius: 6pt;
	border-top-right-radius: 6pt;
	
	background: #2C3E50;
	color: white;
	text-align: center;
	font-weight: bold;
	
	
}

#planner{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;	
	
	text-align: center;
	padding: 0px 0px 0px 0px;

	width: auto;
	
	overflow-x: hidden;
	overflow-y: hidden;
	
	height: 73%;
	background-color: #C3D7DF;
}


#leftScroller, #rightScroller{
	position: absolute;
	
	top: calc(50% - 250px);
	
	background: rgba(114,127,140,0.5);
	transition-duration: 0.3s;
	
	height: 250px;
	width: 25px;
	
	line-height: 250px;
	text-align: center;
	font-size: 25px;
	
	z-index: 50;
}

#rightScroller{right: 0px;}
#leftScroller{left: 0px;}

#rightScroller:hover, #leftScroller:hover{
	background: rgba(114,127,140,0.8);
	cursor: pointer;
	width: 30px;
	font-size: 30px;
}


/* RIGHT SIDE PANEL STYLES */
#rightPanelWrapper{
	width: calc(100% - 10px);
	height: 100%;
	background: none;	
	float: left;
	
	
	border-top: 5pt solid #C3D7DF;
	
}

#validator{
	position: relative;
	width:100%;
	height: calc(50%);
		
	background: #C3D7DF;
	font-size: 14px;
}

#requirements{
	position: relative;
	width: 100%;
	height: 50%;
	background: #C3D7DF;
}


/* THE GRABBER STYLES FOR THE RESIZERS */
#verticalGrabber{
	background: linear-gradient(to right, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	width: 10px;
	height: 100%;
	float: left;
}
#verticalGrabber:hover{
	cursor: col-resize;
}
#verticalLine{
	border-right: 1pt solid #8C8C8C;
	height: 100%;
	width: 55%;	
}

#horizontalGrabber{
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	width: 100%;
	height: 10px;
}
#horizontalGrabber:hover{
	cursor: row-resize;
}
#horizontalLine{
	border-bottom: 1pt solid #8C8C8C;
	height: 55%;
	width: 100%;	
}


/* THE LARGER CONTAINERS*/
#leftContainer{
	position: relative;
	margin: 0;
	width: calc(100% - 250px);
	height: 100%;
	float: left;
	
	
	border-top: 5pt solid #C3D7DF;
	
}

#rightContainer{
	margin: 0;
	width: 250px;
	height: 100%;
	background-color: #C3D7DF;
	float: left;
}

#bodyContainer{
	height: calc(100% - 60px);
	width: 100%;
	margin: 0;
	background: none;
	border-radius: 4pt;
}

#headerContainer{
	height: 60px;
	width: 100%;
	margin: 0;
	background: orange;	
}

/* a general purpose wrapper */
.wrapper{
	height: 100%;

	width: 100%;
	margin: 0;
	background: none;
}

.overlay{
	height: 100%;
	width: 100%;
	margin: 0;
	background: rgba(255,255,255,0.5);
	
	position: absolute;
	top:0;
	left:0;	
	
	z-index: 10;
}

/* RESIZE GHOSTBARTS */
#ghostbarW{
  width:3px;
  background-color:#000;
  opacity:0.5;
  position:absolute;
  cursor: col-resize;
  z-index:10
}

#ghostbarH{
  height:3px;
  background-color:#000;
  opacity:0.5;
  position:absolute;
  cursor: row-resize;
  z-index:10
}

/* FINDER STYLES */

table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

#finderTable tr.even{
	background-color: #eaf0f5;	
	color: black;
}

#finderTable tr.odd{
	background-color: white;
	color: black;		
}

#finderTable tr.even td.name{
	background-color: #99b0c7;	
}

#finderTable tr.odd td.name{
	background-color: #eaf0f5;	
}

#finderTable td:hover {
	cursor: pointer;
}

#finderInput {
  width: calc(100% - 100px);
  font-size: 14px;
  padding: 5px 10px 5px 20px;
  border: 1px solid #ddd;
  margin: 3px 25px;
  
  position: relative;
}

#finderTable {
	width: 100%;
}

/* ACCORDION STYLES */
#accordion {
}

.ui-state-default{
	background: #CFD8DC;
}

.ui-state-default:hover{
	background: #e2e7ea;
}

.ui-state-active{
	background: #617487;
	border-top-left-radius: 6px;
	
	border-top-right-radius: 6px;
}

.ui-state-active:hover{
	background: #617487;
}

.ui-widget-content{
	background: repeating-linear-gradient(0deg, #b4c8d5, #cad8e1 50%, #b4c8d5 100%);
}

/* KBB FORM */
#kbbWrapper{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center
}

#kbbForm{
	text-align: center;
}

#carBox{
	border-radius: 4pt;
	background:#fafafa;
	width: 100%;
	height: 150px;
	margin: 10px 0px;
	
	text-align: center;
}

.styled-select{
	-webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: 12pt;
   margin: 10px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}