// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header { 
    width: 100%;
    background: #2C3E50;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
